html {
}

body {
  display: grid;
  grid-template-columns: 10% 40% 40%10%;
  background-color: #001d3d;
  min-height: 100vh;
}

p {
  margin: 0px;
  padding: 0%;
  font-family: "Kanit", sans-serif;
  font-family: "Rubik", sans-serif;
}
strong {
  color: #ffc300;
  font-style: italic;
}
.header {
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 20%;
  font-family: "Kanit", sans-serif;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

.header-contact {
  width: 100%;
  display: flex;
  justify-content: start;
}

.header-email {
  padding-right: 0.2rem;
}

.header-phone {
  padding-right: 0.2rem;
}
.fa-ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  color: #ffc300;
}

.header-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffd60a;
}

.header-logo {
  display: flex;
  align-items: center;
}
img.logo {
  max-height: 10rem;
  border-radius: 50%;
}
.header-logo-text {
  color: #000814;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
.header-tabs-container {
  display: flex;
  align-items: center;
  width: 50%;
}

ul.header-tabs {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  color: #001d3d;
}

.header-color {
  grid-column: 2 / 4;
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #001d3d;
}

.body {
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #003566;
}

.body-pic-one {
  border-radius: 10px;
  border: 10px solid #000814;
}

.body-testing-pic-cont {
  /*max-height: 200px;
  max-width: 200px; */
  width: 100%;
  display: flex;
  justify-content: center;
}

img.body-testing-pic {
  /* max-height: 200px;
  max-width: 200px; */

  max-width: 50%;
  border-radius: 10px;
}

.body-pic-two {
  border-radius: 10px;
  border: 10px solid #000814;
}

.body-pic-text-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Kanit", sans-serif;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

.body-pic {
  max-width: 300px;
}

.body-main-text {
  display: flex;
  height: 100%;
  max-width: 20%;
  flex-wrap: wrap;
  font-size: 3.5vh;
  margin-left: 20px;
}

.body-text {
  display: flex;

  justify-content: center;
  max-width: 20%;
  height: 100%;
  flex-wrap: wrap;
  font-size: 3.5vh;
  margin-left: 20px;
  font-family: "Kanit", sans-serif;
  font-family: "Rubik", sans-serif;
}

.body-text-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-sub-text {
  display: flex;
}

.body-testing-descrip {
  color: white;
  font-size: 15px;
}
button.body-book-text {
  font-size: x-large;
  color: #ffc300;
  border-radius: 9px;
  /* position: relative;
  top: 60px; */
  padding: 10px;
}

button.body-book-text:hover {
  color: white;
  background-color: #ffc300;
  transition: 0.5s;
  top: 55px;
  box-shadow: 5px 5px 5px black;
}

.footer {
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
}

.footer-color {
  background-color: #001d3d;
}

.footer-links-pic-container {
  display: flex;
  justify-content: space-between;
  font-family: "Kanit", sans-serif;
  font-family: "Rubik", sans-serif;
  background-color: #ffd60a;
}

.footer-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  color: white;
  font-size: large;
}

.footer-links {
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
}

.footer-links-contact {
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
}

.footer-links-container-ii {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-logo-text {
  color: white;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

.footer-pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.footer-pic {
  max-height: 10rem;
}
