body {
  display: grid;
  grid-template-columns: 10% 40% 40%10%;
  background-color: #eaf4f4;
  margin: 0px;
  /*min-width: 100vh; */
}
/*****Mobile screen size*****/

p {
  margin: 0px;
  padding: 0%;
  font-family: "Kanit", sans-serif;
  font-family: "Rubik", sans-serif;
}

.header {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 15% 85%;
  align-items: center;
  font-family: "Kanit", sans-serif;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: x-large;
}

/*****Mobile screen size*****/
@media screen and ((min-width: 300px) and (max-width: 500px)) {
  .header {
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*****Tablet screen size ****/
@media screen and ((min-width: 501px) and (max-width: 1024px)) {
  .header {
  }
}

.header-contact {
  grid-column: 2 / 4;
  grid-row: 1;
  max-width: 100%;
  display: flex;
  justify-content: start;
  border-bottom: solid 2px #cce3de;
  font-size: large;
}

/*****Mobile screen size*****/
@media screen and ((min-width: 300px) and (max-width: 500px)) {
  .header-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
  }
}

/****Tablet screen size ****/
@media screen and ((min-width: 501px) and (max-width: 1024px)) {
  .header-contact {
    display: flex;
    font-size: large;
  }
}

.header-email {
  padding-right: 0.2rem;
}

.header-phone {
  padding-right: 0.2rem;
}
ul.fa-ul {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  color: #6b9080;
  gap: 10px;
}

/*****Mobile screen size*****/
@media screen and ((min-width: 300px) and (max-width: 500px)) {
  ul.fa-ul {
    flex-direction: column;
  }
}

/*****ALL anchor tags *********/
a {
  color: black;
  text-decoration: none;
}
a.header-email-link {
  color: #6b9080;
  text-decoration: none;
}

.header-nav {
  grid-column: 2 /4;
  grid-row: 2;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #eaf4f4;
  margin-top: 15px;
  /*background-image: url(/images/stacked-peaks-haikei-header.svg); */
}

/*****Mobile screen size*****/
@media screen and ((min-width: 300px) and (max-width: 500px)) {
  .header-nav {
    flex-direction: column;
  }
}
/***Tablet screen size***/
@media screen and ((min-width: 501px) and (max-width: 1024px)) {
  .header-contact {
  }
}

.header-logo {
  display: flex;
  align-items: center;
}

/*****Mobile screen size*****/
@media screen and ((min-width: 300px) and (max-width: 500px)) {
  .header-logo {
    justify-content: center;
  }
}
img.logo {
  max-height: 10rem;
  border-radius: 50%;
}

/*****Mobile screen size*****/
@media screen and ((min-width: 300px) and (max-width: 500px)) {
  img.logo {
    max-height: 6rem;
  }
}

.header-logo-text {
  color: #000814;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
.header-tabs-container {
  display: flex;
  align-items: center;
  max-width: 75%;
}

/*****Mobile screen size*****/
@media screen and ((min-width: 300px) and (max-width: 500px)) {
  .header-tabs-container {
    flex-direction: column;
    max-width: 100%;
  }
}
/*****Tablet screen size ******/
@media screen and ((min-width: 501px) and (max-width: 1024px)) {
  .header-tabs-container {
    flex-direction: column;
    font-size: large;
  }
}

ul.header-tabs {
  display: flex;
  max-width: 100%;
  justify-content: space-around;
  list-style: none;
  color: #001d3d;
  display: flex;
  font-size: large;
  gap: 15px;
  margin-right: 15px;
}

/*****Mobile screen size*****/
@media screen and ((min-width: 300px) and (max-width: 500px)) {
  ul.header-tabs {
    gap: 15px;
  }
}

/*dropdown container & button */
.header-button-contain {
  border: none;
  outline: none;
  font-family: inherit;
  margin: 0;
  overflow: hidden;
}

.header-services-button {
  color: #001d3d;
  background-color: #ffd60a;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: large;
  font-weight: 600;
  border-radius: 5px;
}

/*****Mobile screen size*****/
@media screen and ((min-width: 300px) and (max-width: 500px)) {
  .header-services-button {
    font-size: medium;
  }
}

/*down arrow on headaer services button */
i.fa-caret-down {
  margin-left: 5px;
}

/*dropdown content (hidden by default) */
.header-services-dropdown {
  display: none;
  position: absolute;
  top: 160px;
  right: 200px;
  background-color: #ffd60a;
  min-width: 160px;
  z-index: 1;
  opacity: 0.9;
}

/* adds margin to top of dropdown so hover doesnt dispear */
.header-services-dropdown::before {
  position: absolute;
  content: "";
  bottom: 100%;
  max-width: 100%;
  height: 20px;
  background-color: transparent;
}

.header-button-contain:hover .header-services-dropdown {
  display: block;
}

/* links inside dropdown */
.header-services-dropdown a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.header-services-dropdown a:hover {
  background-color: #d0d4db;
}

.header-color {
  grid-column: 1 / 5;
  display: flex;
  height: 50px;
  max-width: 100%;
  background-color: #f6fff8;
}

/***********Body Section **************/
.body {
  grid-column: 1 / 5;

  display: grid;
  grid-template-columns:
    10% 40%
    40%;

  grid-template-rows: 100%;
  background-color: #6b9080;
}

.body-all-content-container {
  grid-column: 2 / 4;
  display: flex;
}
/*****Mobile screen size*****/
@media screen and ((min-width: 300px) and (max-width: 500px)) {
  .body-all-content-container {
    flex-direction: column;
  }
}

/*****Tablet screen size ******/
@media screen and ((min-width: 501px) and (max-width: 1024px)) {
  .body-all-content-container {
    flex-direction: column;
    font-size: large;
  }
}

.body-half-color-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

.body-text-font-family {
  font-family: "Lato", sans-serif;
}
.body-half-color-p1 {
  font-size: xxx-large;
  color: #1e1f1e;
  margin-bottom: 20px;
}

/*****Mobile screen size*****/
@media screen and ((min-width: 300px) and (max-width: 500px)) {
  .body-half-color-p1 {
    font-size: xx-large;
  }
}

.body-half-color-p2 {
  font-size: x-large;
  font-style: italic;
  color: #202221;
  margin-bottom: 35px;
}

.book-now-btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #f6fff8;
  color: #333333; /* Text color */
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.book-now-btn:hover {
  background-color: #cce3de; /* Hover color */
}

.body-half-image-container {
  max-width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 30px;
  margin-bottom: 30px;
}

.body-half-image {
  max-width: 100%;
  border-radius: 10px;
}

/*******Footer Section *********/
.footer {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-top-cont {
  grid-column: 2 / 4;
  display: flex;
  background: #eaf4f4;
  font-family: "Kanit", sans-serif;
  font-family: "Rubik", sans-serif;
}

/*****Mobile screen size*****/
@media screen and ((min-width: 300px) and (max-width: 1024px)) {
  .footer-top-cont {
    max-width: 100%;
    flex-direction: column;
  }
}

h1.footer-header-two {
  color: #000814;
  margin: 0px;
  font-weight: 500;
  font: x-large;
}

/*****Mobile screen size*****/
@media screen and ((min-width: 300px) and (max-width: 500px)) {
  h1.footer-header-two {
    max-width: 100%;
    flex-direction: column;
    font-size: x-large;
  }
}

/*****Tablet screen size*****/
@media screen and ((min-width: 501px) and (max-width: 1024px)) {
  h1.footer-header-two {
    max-width: 100%;
    flex-direction: column;
  }
}

/***footer icons ***/
i.fa-border {
  border: solid;
  border-radius: 10px;
  color: black;
  margin-left: 10px;
}

/***color of footer icons ***/
.fa-primary-color {
  color: #001d3d;
}

/****Secondary color of footer icons***/
.fa-secondary-color {
  background: #ffd60a;
}

/****heart icon footer ****/
.footer-image-one {
  border-right: 2px solid transparent;
  box-shadow: -3px 0px 4px 0px #d0d4db, 3px 0px 4px 0px #d0d4db;
}

/****Pills icon footer *****/
.footer-image-two {
  border-right: 2px solid transparent;
  box-shadow: 3px 0px 4px 0px #d0d4db;
}

/*****thumbs up icon footer *****/
.footer-image-three {
  border-right: 2px solid transparent;
  box-shadow: 3px 0px 4px 0px #d0d4db;
}
/*****Beaker icon footer ********/
.footer-image-four {
  border-right: 2px solid transparent;
  box-shadow: 3px 0px 4px 0px #d0d4db;
}
/****Title w/ icon footer *****/
.footer-image-text-title {
  display: flex;
  justify-content: center;
}

/*****Mobile screen size*****/
@media screen and ((min-width: 300px) and (max-width: 500px)) {
  .footer-image-text-title {
    justify-content: right;
  }
}

/*****Tablet screen size*****/
@media screen and ((min-width: 501px) and (max-width: 1024px)) {
  .footer-image-text-title {
    justify-content: right;
  }
}
/****icon subtext footer ****/
p.footer-sub-text {
  text-align: center;
}

/*****Tablet screen size*****/
@media screen and ((min-width: 501px) and (max-width: 1024px)) {
  p.footer-sub-text {
    font-size: x-large;
  }
}
/****container of all footer things****/
.footer-links-pic-container {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  font-family: "Kanit", sans-serif;
  font-family: "Rubik", sans-serif;
  /*background-image: url(/images/stacked-peaks-haikei-header.svg); */
  background-color: #a4c3b2;
}

/*****footer container of nav and contacts  ****/
.footer-links-container {
  grid-column: 2 / 4;
  display: flex;
  color: white;
  font-size: large;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: space-between;
}
/*****Mobile screen size*****/
@media screen and ((min-width: 300px) and (max-width: 1024px)) {
  .footer-links-container {
    flex-direction: column;
  }
}

.footer-links {
  margin-top: 0px;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  padding: 0px;
}

a.footer-links {
  color: white;
}

li.footer-hours-list {
  margin-bottom: 7px;
}

.footer-links-contact {
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  padding: 0px;
}

.footer-links-container-ii {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-logo-text {
  color: white;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

.footer-pic-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*****Mobile screen size*****/
@media screen and ((min-width: 300px) and (max-width: 500px)) {
  .footer-pic-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-open-hours {
  list-style: none;
  padding: 0px;
}

.footer-logo-container {
  display: flex;
  max-width: 50%;
}

img.footer-pic {
  max-height: 10rem;
  border-radius: 10px;
}

/************Body Layout ************************/
.body-services {
  grid-column: 1 / 5;
  background-color: #6b9080;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 1fr;
}

/******Container of everything in body of services pages *****/
.body-content-container {
  grid-column: 2 / 4;
  display: flex;
}
/*****Mobile screen size****************/
@media screen and ((min-width: 300px) and (max-width: 1250px)) {
  .body-content-container {
    flex-wrap: wrap;
  }
}

/******Text section in body of services page *****/
.services-container {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
}
.service-header {
  margin-bottom: 40px;
}
.service-title {
  color: #333;
}
.service-description {
  /*font-size: 2rem; */
  line-height: 1.6;
  margin-bottom: 30px;
}
.feature-list {
  margin-bottom: 30px;
}
.feature-list h3 {
  color: #333;
}
.feature-list ul {
  list-style-type: none;
  padding: 0;
}
.feature-list li {
  margin-bottom: 10px;
}
.button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #45a049;
}

/********** container of body in services pages ******/
.body-services-picture-container {
  display: flex;
  justify-content: end;
  max-width: 98%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/***Mobile & Tablet screen size ******/
@media screen and ((min-width: 300px) and (max-width: 1250px)) {
  .body-services-picture-container {
    max-width: 100%;
    justify-content: start;
    margin-bottom: 20px;
  }
}

/***large screen size ******/
@media screen and ((min-width: 1251px) and (max-width: 1440px)) {
  .body-services-picture-container {
    max-width: 100%;
    justify-content: end;
    margin-top: 150px;
    margin-bottom: 150px;
  }
}
/***Picture in body of services ***/
.body-service-picture {
  max-width: 63%;
  border-radius: 10px;
}

/***large screens ********/
@media screen and ((min-width: 1251px) and (max-width: 1440px)) {
  .body-service-picture {
    max-width: 90%;
  }
}

/*******Conctact page *********/

/*style for contact information section ******/

.contact-content-container {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  background-color: #cce3de;
}

@media screen and ((min-width: 300px) and (max-width: 1250px)) {
  .contact-content-container {
    flex-wrap: wrap;
  }
}

.contact-info {
  grid-column: 2 /4;
  max-width: 100%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* Style for links */
a.contact-page {
  color: #007bff; /* Blue color for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/******Contact page styling *******/
/* Style for appointment notice */

h2.contact-heading {
  font-size: calc(1.5vw + 1.5vh);
}

.appointment {
  font-size: calc(1vw + 1vh);
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
  color: #333;
}

@media screen and ((min-width: 300px) and (max-width: 768px)) {
  .appointment {
    font-size: calc(1.5vw + 1.5vh);
  }
}

/******Styling for About us page ********/

.about-content-container {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  background-color: #cce3de;
}

@media screen and ((min-width: 300px) and (max-width: 1250px)) {
  .contact-content-container {
    flex-wrap: wrap;
  }
}

.about-us {
  grid-column: 2 /4;
  max-width: 100%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

h2.about-heading {
  font-size: calc(1.5vw + 1.5vh);
}

.about {
  font-size: calc(1vw + 1vh);
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
  color: #333;
}

p.subTextOne {
  margin-bottom: 20px;
}

@media screen and ((min-width: 300px) and (max-width: 768px)) {
  .about {
    font-size: calc(1.5vw + 1.5vh);
  }
}
